.list__items {
  margin-top: 42px;
  margin-bottom: 45px;
  background-color: whitesmoke;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-width: 260px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  border-radius: 15px;
  box-shadow: 10px 9px 24px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 9px 24px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 24px 5px rgba(0, 0, 0, 0.75);
}

.list__item {
  display: grid;
  place-items: left;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-left: 15px;
}

.list__item h2 {
  text-transform: capitalize;
  padding: 12px;
}

.list__item p {
  padding: 12px;
}
