#form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.MuiTextField-root {
  width: 420px;
  max-width: 540px;
}

@media only screen and (max-width: 720px) {
  .MuiTextField-root {
    width: 240px;
  }
}
